{{template "base" .}}
{{define "css"}}
    <link rel="stylesheet" href="../static/stylesheets/about.css" />
{{end}}
{{define "content"}}
    <div class="about_container">
        <h1>About Us</h1>
        <p>Read below to discover our story...</p>
        <p>The above is pure about page template</p>
        <h2>This is dynamic</h2>
        <p>{{index .StringMap "test"}}</p>
    </div>
{{end}}