{{template "base" .}}
{{define "css"}}
    <link rel="stylesheet" href="../static/stylesheets/home.css" />
{{end}}
{{define "content"}}
<div class="home_container">
    <h1>This is the home page</h1>
    <p>Welcome to the Hello World App...</p>
</div>
{{end}}